@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

$primary-font: "Bellefair", serif;
$secundary-font: "Barlow Condensed", sans-serif;

$dark: #0b0d17;
$light-blue: #d0d6f9;
$withe: #ffffff;

h1,
h2,
h3,
h4 {
  font-family: $primary-font;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-family: $secundary-font;
  font-size: 28px;
  letter-spacing: 4.75px;
}

.sub-heading-1 {
  font-family: $primary-font;
  font-size: 28px;
}

.sub-heading-2 {
  font-family: $secundary-font;
  font-size: 14px;
  letter-spacing: 2.35px;
}

body {
  font-family: $secundary-font;
  font-size: 16px;
}
