@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

// Fonts
$primary-font: "Bellefair", serif;
$secundary-font: "Barlow Condensed", sans-serif;

// Colors
$dark: #0b0d17;
$light-blue: #d0d6f9;
$withe: #ffffff;
